<!DOCTYPE html>
<html lang="en" xmlns:th="https://ww.thymeleaf.org">
<head th:replace="~{fragmentos/cabecera::cabecera-seccion(titulo='Inicio')}">
</head>
<body>

<div th:replace="~{fragmentos/navegacion::navegacion-seccion}"></div>

<div class="container">
    <div class="text-center m-3">
        <h3>Gestor de Contactos</h3>
    </div>

    <table class="table table-hover table-striped table-bordered align-middle">
        <thead class="table-dark text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contacto: ${contactos}">
            <th th:text="${contacto.idContacto}" scope="row"></th>
            <td th:text="${contacto.nombre}"></td>
            <td th:text="${contacto.celular}"></td>
            <td th:text="${contacto.email}"></td>
            <td class="text-center">
                <a th:href="@{/editar/{id}(id=${contacto.idContacto})}" class="btn btn-warning btn-sm me-3">Editar</a>
                <a th:href="@{/eliminar/{id}(id=${contacto.idContacto})}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"></div>
</body>
</html>